In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_excel("dishiseat_cleaned.xlsx")
data.head()

,Timestamp,PrivacyConsent,Q1EngagementEntertainment,Q2EngagementInterest,Q3EngagementCustomization,Q4EngagementInteractivity,Q5EngagementTargetGroup,Q6FunctionalityPerformance,Q7FunctionalityEaseOfUse,Q8FunctionalityNavigation,...,BoolFoodAllergens,FoodAllergens,Sex,CivilStatus,YearsOfCooking,CookingSkills,Age,MonthlyIncome,EmailAddress,PrototypeUsed
0,6/1/2022 21:48:35,Agree,5,5,5,5,5,5,5,5,...,0,NaN,0,0,2,3,21,1,NaN,Done
1,6/1/2022 21:56:39,Agree,5,5,5,5,5,5,5,5,...,0,NaN,0,0,3,3,21,1,NaN,Done
2,6/1/2022 21:59:49,Agree,4,4,4,4,5,5,5,5,...,0,NaN,1,0,1,1,22,1,NaN,Done
3,6/1/2022 22:03:42,Agree,4,4,5,4,5,4,5,5,...,0,NaN,1,0,2,3,21,1,NaN,Done
4,6/1/2022 22:09:38,Agree,4,4,3,3,3,3,4,4,...,0,NaN,1,0,3,4,23,2,NaN,Done

In [3]:
engagement = [
    "Q1EngagementEntertainment", 
    "Q2EngagementInterest", 
    "Q3EngagementCustomization",
    "Q4EngagementInteractivity",
    "Q5EngagementTargetGroup"
]

engagement_data = data.loc[:, engagement].copy()

In [4]:
engagement_data.describe()

,Q1EngagementEntertainment,Q2EngagementInterest,Q3EngagementCustomization,Q4EngagementInteractivity,Q5EngagementTargetGroup
count,50.000000,50.00000,50.000000,50.000000,50.000000
mean,4.340000,4.48000,4.120000,4.200000,4.660000
std,0.592814,0.61412,0.824126,0.880631,0.626295
min,3.000000,3.00000,3.000000,1.000000,2.000000
25%,4.000000,4.00000,3.000000,4.000000,4.000000
50%,4.000000,5.00000,4.000000,4.000000,5.000000
75%,5.000000,5.00000,5.000000,5.000000,5.000000
max,5.000000,5.00000,5.000000,5.000000,5.000000

In [5]:
print(engagement_data.mean(axis=1).describe())
print()
print(engagement_data.mean(axis=1).skew())

count    50.000000
mean      4.360000
std       0.514286
min       3.200000
25%       4.000000
50%       4.300000
75%       4.800000
max       5.000000
dtype: float64

-0.36158264746227936

In [6]:
functionality = [
    "Q6FunctionalityPerformance",
    "Q7FunctionalityEaseOfUse",
    "Q8FunctionalityNavigation",
    "Q9FunctionalityGesturalDesign"
]

funct_data = data.loc[:, functionality].copy()
funct_data.describe()

,Q6FunctionalityPerformance,Q7FunctionalityEaseOfUse,Q8FunctionalityNavigation,Q9FunctionalityGesturalDesign
count,50.000000,50.000000,50.000000,50.000000
mean,4.000000,4.340000,4.180000,4.300000
std,0.857143,0.688388,0.747513,0.735402
min,2.000000,3.000000,2.000000,2.000000
25%,3.000000,4.000000,4.000000,4.000000
50%,4.000000,4.000000,4.000000,4.000000
75%,5.000000,5.000000,5.000000,5.000000
max,5.000000,5.000000,5.000000,5.000000

In [7]:
print(funct_data.mean(axis=1).describe())
print()
print(funct_data.mean(axis=1).skew())

count    50.000000
mean      4.205000
std       0.634248
min       3.000000
25%       3.750000
50%       4.250000
75%       4.937500
max       5.000000
dtype: float64

-0.1879976415810377

In [8]:
aesthetics = [
    "Q10AestheticsLayout",
    "Q11AestheticsGraphics",
    "Q12AestheticsVisualAppeal",
]

aes_data = data.loc[:, aesthetics].copy()
aes_data.describe()

       Q10AestheticsLayout  Q11AestheticsGraphics  Q12AestheticsVisualAppeal
count            50.000000              50.000000                   50.00000
mean              4.520000               4.400000                    4.52000
std               0.646498               0.670059                    0.61412
min               3.000000               3.000000                    3.00000
25%               4.000000               4.000000                    4.00000
50%               5.000000               4.500000                    5.00000
75%               5.000000               5.000000                    5.00000
max               5.000000               5.000000                    5.00000

In [9]:
print(aes_data.mean(axis=1).describe())
print()
print(aes_data.mean(axis=1).skew())

count    50.000000
mean      4.480000
std       0.526659
min       3.333333
25%       4.000000
50%       4.666667
75%       5.000000
max       5.000000
dtype: float64

-0.5482691138150957

In [10]:
information = [
    "Q13InformationQualityOfInformation",
    "Q14InformationQuantityOfInformation",
    "Q15InformationVisualInformation",
    "Q16InformationCredibilityOfSource"
]

info_data = data.loc[:, information].copy()
info_data.describe()

,Q13InformationQualityOfInformation,Q14InformationQuantityOfInformation,Q15InformationVisualInformation,Q16InformationCredibilityOfSource
count,50.000000,50.000000,50.000000,50.000000
mean,4.400000,4.500000,4.500000,4.380000
std,0.728431,0.580288,0.646813,0.779586
min,3.000000,3.000000,3.000000,1.000000
25%,4.000000,4.000000,4.000000,4.000000
50%,5.000000,5.000000,5.000000,4.500000
75%,5.000000,5.000000,5.000000,5.000000
max,5.000000,5.000000,5.000000,5.000000

In [11]:
print(info_data.mean(axis=1).describe())
print()
print(info_data.mean(axis=1).skew())

count    50.000000
mean      4.445000
std       0.576518
min       2.750000
25%       4.000000
50%       4.750000
75%       5.000000
max       5.000000
dtype: float64

-0.8329037948254339

In [12]:
subj_quality = [
    "Q17SubjectiveQuality",
    "Q18SubjectiveQuality",
    "Q19SubjectiveQuality",
    "Q20SubjectiveQuality" 
]

subj_data = data.loc[:, subj_quality].copy()
subj_data.describe()

,Q17SubjectiveQuality,Q18SubjectiveQuality,Q19SubjectiveQuality,Q20SubjectiveQuality
count,50.000000,50.000000,50.000000,50.000000
mean,4.440000,3.720000,3.080000,4.340000
std,0.760236,0.809132,1.121952,0.688388
min,3.000000,1.000000,1.000000,3.000000
25%,4.000000,3.000000,3.000000,4.000000
50%,5.000000,4.000000,3.000000,4.000000
75%,5.000000,4.000000,4.000000,5.000000
max,5.000000,5.000000,5.000000,5.000000

In [13]:
print(subj_data.mean(axis=1).describe())
print()
print(subj_data.mean(axis=1).skew())

count    50.000000
mean      3.895000
std       0.650922
min       2.500000
25%       3.500000
50%       4.000000
75%       4.250000
max       5.000000
dtype: float64

-0.13097579982515617

In [14]:
measures = pd.DataFrame()
measures["Engagement"] = engagement_data.mean(axis=1)
measures["Functionality"] = funct_data.mean(axis=1)
measures["Aesthetics"] = aes_data.mean(axis=1)
measures["Information"] = info_data.mean(axis=1)
measures["SubjectiveQuality"] = subj_data.mean(axis=1)
measures.head()

   Engagement  Functionality  Aesthetics  Information  SubjectiveQuality
0         5.0           5.00    5.000000         5.00               4.50
1         5.0           5.00    5.000000         5.00               5.00
2         4.2           5.00    4.333333         5.00               3.25
3         4.4           4.75    5.000000         3.50               3.25
4         3.4           3.75    3.666667         3.75               3.25

In [15]:
demog_data = data.loc[:, ["Sex", "Age", "CivilStatus", "BoolDiet", 
             "BoolFoodAllergens", "YearsOfCooking", 
             "CookingSkills", "MonthlyIncome"]].copy()

demog_data.head()

,Sex,Age,CivilStatus,BoolDiet,BoolFoodAllergens,YearsOfCooking,CookingSkills,MonthlyIncome
0,0,21,0,0,0,2,3,1
1,0,21,0,1,0,3,3,1
2,1,22,0,0,0,1,1,1
3,1,21,0,0,0,2,3,1
4,1,23,0,0,0,3,4,2

In [16]:
df = pd.concat([measures, demog_data], axis=1)
df.head()

,Engagement,Functionality,Aesthetics,Information,SubjectiveQuality,Sex,Age,CivilStatus,BoolDiet,BoolFoodAllergens,YearsOfCooking,CookingSkills,MonthlyIncome
0,5.0,5.00,5.000000,5.00,4.50,0,21,0,0,0,2,3,1
1,5.0,5.00,5.000000,5.00,5.00,0,21,0,1,0,3,3,1
2,4.2,5.00,4.333333,5.00,3.25,1,22,0,0,0,1,1,1
3,4.4,4.75,5.000000,3.50,3.25,1,21,0,0,0,2,3,1
4,3.4,3.75,3.666667,3.75,3.25,1,23,0,0,0,3,4,2

In [17]:
df.loc[:, "CivilStatus"] = df.loc[:, "CivilStatus"].replace("Live in", "Married").replace("Widowed ", "Single")
df.loc[:, "CivilStatus"] = df.loc[:, "CivilStatus"].replace("Single", 0).replace("Married", 1)

In [18]:
df.loc[:, "YearsOfCooking"] = df.loc[:, "YearsOfCooking"].replace("Less than a year", 1
                          ).replace("1 to 5 years", 2
                          ).replace("6 to 10 years", 3
                          ).replace("11 and above", 4)
df

,Engagement,Functionality,Aesthetics,Information,SubjectiveQuality,Sex,Age,CivilStatus,BoolDiet,BoolFoodAllergens,YearsOfCooking,CookingSkills,MonthlyIncome
0,5.0,5.00,5.000000,5.00,4.50,0,21,0,0,0,2,3,1
1,5.0,5.00,5.000000,5.00,5.00,0,21,0,1,0,3,3,1
2,4.2,5.00,4.333333,5.00,3.25,1,22,0,0,0,1,1,1
3,4.4,4.75,5.000000,3.50,3.25,1,21,0,0,0,2,3,1
4,3.4,3.75,3.666667,3.75,3.25,1,23,0,0,0,3,4,2
5,4.6,5.00,4.666667,4.50,4.25,0,21,0,0,1,2,3,1
6,4.8,4.25,4.666667,4.75,4.00,0,21,0,0,0,4,3,1
7,5.0,4.00,4.666667,4.00,3.50,0,22,0,0,1,2,4,1
8,4.8,4.25,4.666667,4.75,4.25,0,19,0,0,1,1,2,1
9,4.4,4.25,5.000000,5.00,4.25,1,21,0,1,0,1,1,1
10,5.0,5.00,4.666667,5.00,4.25,1,24,1,1,1,2,3,1
11,3.4,3.50,4.000000,3.75,3.00,0,54,1,0,0,4,4,2
12,4.2,4.50,4.000000,4.25,3.75,0,21,0,0,0,2,3,1
13,4.8,5.00,5.000000,5.00,4.25,0,21,0,0,0,1,4,2
14,3.2,3.50,3.666667,2.75,2.50,1,21,0,0,0,4,2,1
15,4.8,4.75,5.000000,5.00,4.50,0,20,0,1,0,3,3,1
16,4.0,3.75,4.333333,3.50,3.75,1,21,0,0,0,3,4,1
17,4.0,3.50,3.666667,4.75,4.00,0,23,0,0,0,2,3,1
18,4.6,4.00,4.666667,5.00,4.25,0,21,0,0,1,2,2,1
19,3.8,3.25,4.000000,4.50,2.75,0,18,0,0,0,1,3,1
20,5.0,5.00,5.000000,5.00,5.00,1,19,0,0,1,3,4,1
21,4.0,3.00,3.333333,4.00,3.50,1,32,1,0,0,4,3,2
22,4.6,4.50,5.000000,4.75,4.50,0,21,0,0,0,2,4,1
23,3.8,3.75,4.666667,4.00,4.00,0,20,0,0,0,3,4,1
24,4.0,4.00,4.333333,4.25,3.50,1,21,0,0,0,3,4,1
25,5.0,5.00,5.000000,5.00,5.00,1,22,0,1,0,2,5,2
26,5.0,5.00,5.000000,5.00,5.00,0,21,0,0,0,2,3,1
27,4.0,4.00,5.000000,5.00,5.00,1,21,0,1,1,4,4,1
28,4.0,4.00,4.000000,4.00,3.75,0,21,0,0,0,3,4,1
29,3.8,4.00,4.666667,4.75,4.50,0,22,0,0,0,2,3,1
30,4.8,4.75,5.000000,4.75,4.50,1,28,0,0,1,2,1,3
31,4.2,3.00,3.666667,3.75,3.00,1,27,0,0,0,3,3,1
32,3.4,3.00,4.333333,4.00,3.50,0,49,1,0,0,4,5,2
33,4.2,3.25,3.666667,4.00,3.00,1,21,0,0,1,1,4,1
34,4.2,3.75,5.000000,5.00,3.75,1,21,0,0,0,3,4,1
35,4.6,4.00,3.666667,3.75,2.75,0,61,1,0,1,4,3,3
36,4.6,4.25,4.333333,4.50,4.25,1,22,0,0,0,2,4,1
37,5.0,5.00,5.000000,5.00,4.25,0,21,0,0,1,2,1,1
38,4.2,3.75,3.666667,3.75,3.25,1,21,0,0,1,3,4,1
39,3.6,4.00,4.333333,4.00,3.50,1,22,0,0,1,2,1,1
40,5.0,5.00,5.000000,5.00,4.25,0,21,0,0,0,3,3,1
41,4.6,3.50,5.000000,4.50,3.50,0,20,0,0,0,2,4,1
42,4.2,4.25,3.666667,4.00,3.00,0,23,0,1,0,3,3,2
43,5.0,5.00,5.000000,5.00,4.25,0,21,0,0,0,1,1,1
44,4.2,5.00,5.000000,4.75,4.50,0,32,0,0,0,4,4,1
45,4.0,3.50,4.333333,4.25,3.75,0,21,0,1,1,1,3,1
46,4.2,4.50,4.666667,4.75,4.25,1,21,0,0,0,2,4,2
47,5.0,4.50,4.000000,4.75,3.75,0,50,0,0,0,4,3,3
48,4.6,4.25,5.000000,5.00,4.25,0,20,0,0,1,2,3,1
49,3.8,3.75,4.000000,3.25,3.25,0,20,0,0,0,1,3,1

In [19]:
df.loc[:, "MonthlyIncome"] = df.loc[:, "MonthlyIncome"].replace("low", 1).replace("medium", 2).replace("high", 3)
df

,Engagement,Functionality,Aesthetics,Information,SubjectiveQuality,Sex,Age,CivilStatus,BoolDiet,BoolFoodAllergens,YearsOfCooking,CookingSkills,MonthlyIncome
0,5.0,5.00,5.000000,5.00,4.50,0,21,0,0,0,2,3,1
1,5.0,5.00,5.000000,5.00,5.00,0,21,0,1,0,3,3,1
2,4.2,5.00,4.333333,5.00,3.25,1,22,0,0,0,1,1,1
3,4.4,4.75,5.000000,3.50,3.25,1,21,0,0,0,2,3,1
4,3.4,3.75,3.666667,3.75,3.25,1,23,0,0,0,3,4,2
5,4.6,5.00,4.666667,4.50,4.25,0,21,0,0,1,2,3,1
6,4.8,4.25,4.666667,4.75,4.00,0,21,0,0,0,4,3,1
7,5.0,4.00,4.666667,4.00,3.50,0,22,0,0,1,2,4,1
8,4.8,4.25,4.666667,4.75,4.25,0,19,0,0,1,1,2,1
9,4.4,4.25,5.000000,5.00,4.25,1,21,0,1,0,1,1,1
10,5.0,5.00,4.666667,5.00,4.25,1,24,1,1,1,2,3,1
11,3.4,3.50,4.000000,3.75,3.00,0,54,1,0,0,4,4,2
12,4.2,4.50,4.000000,4.25,3.75,0,21,0,0,0,2,3,1
13,4.8,5.00,5.000000,5.00,4.25,0,21,0,0,0,1,4,2
14,3.2,3.50,3.666667,2.75,2.50,1,21,0,0,0,4,2,1
15,4.8,4.75,5.000000,5.00,4.50,0,20,0,1,0,3,3,1
16,4.0,3.75,4.333333,3.50,3.75,1,21,0,0,0,3,4,1
17,4.0,3.50,3.666667,4.75,4.00,0,23,0,0,0,2,3,1
18,4.6,4.00,4.666667,5.00,4.25,0,21,0,0,1,2,2,1
19,3.8,3.25,4.000000,4.50,2.75,0,18,0,0,0,1,3,1
20,5.0,5.00,5.000000,5.00,5.00,1,19,0,0,1,3,4,1
21,4.0,3.00,3.333333,4.00,3.50,1,32,1,0,0,4,3,2
22,4.6,4.50,5.000000,4.75,4.50,0,21,0,0,0,2,4,1
23,3.8,3.75,4.666667,4.00,4.00,0,20,0,0,0,3,4,1
24,4.0,4.00,4.333333,4.25,3.50,1,21,0,0,0,3,4,1
25,5.0,5.00,5.000000,5.00,5.00,1,22,0,1,0,2,5,2
26,5.0,5.00,5.000000,5.00,5.00,0,21,0,0,0,2,3,1
27,4.0,4.00,5.000000,5.00,5.00,1,21,0,1,1,4,4,1
28,4.0,4.00,4.000000,4.00,3.75,0,21,0,0,0,3,4,1
29,3.8,4.00,4.666667,4.75,4.50,0,22,0,0,0,2,3,1
30,4.8,4.75,5.000000,4.75,4.50,1,28,0,0,1,2,1,3
31,4.2,3.00,3.666667,3.75,3.00,1,27,0,0,0,3,3,1
32,3.4,3.00,4.333333,4.00,3.50,0,49,1,0,0,4,5,2
33,4.2,3.25,3.666667,4.00,3.00,1,21,0,0,1,1,4,1
34,4.2,3.75,5.000000,5.00,3.75,1,21,0,0,0,3,4,1
35,4.6,4.00,3.666667,3.75,2.75,0,61,1,0,1,4,3,3
36,4.6,4.25,4.333333,4.50,4.25,1,22,0,0,0,2,4,1
37,5.0,5.00,5.000000,5.00,4.25,0,21,0,0,1,2,1,1
38,4.2,3.75,3.666667,3.75,3.25,1,21,0,0,1,3,4,1
39,3.6,4.00,4.333333,4.00,3.50,1,22,0,0,1,2,1,1
40,5.0,5.00,5.000000,5.00,4.25,0,21,0,0,0,3,3,1
41,4.6,3.50,5.000000,4.50,3.50,0,20,0,0,0,2,4,1
42,4.2,4.25,3.666667,4.00,3.00,0,23,0,1,0,3,3,2
43,5.0,5.00,5.000000,5.00,4.25,0,21,0,0,0,1,1,1
44,4.2,5.00,5.000000,4.75,4.50,0,32,0,0,0,4,4,1
45,4.0,3.50,4.333333,4.25,3.75,0,21,0,1,1,1,3,1
46,4.2,4.50,4.666667,4.75,4.25,1,21,0,0,0,2,4,2
47,5.0,4.50,4.000000,4.75,3.75,0,50,0,0,0,4,3,3
48,4.6,4.25,5.000000,5.00,4.25,0,20,0,0,1,2,3,1
49,3.8,3.75,4.000000,3.25,3.25,0,20,0,0,0,1,3,1

In [27]:
df.iloc[:, 5:].corrwith(
    df.loc[:, ["Engagement", "Functionality", "Aesthetics", "Information", "SubjectiveQuality"]].mean(axis=1), 
    method="pearson")

Sex                 -0.180796
Age                 -0.289830
CivilStatus         -0.284212
BoolDiet             0.259350
BoolFoodAllergens    0.114465
YearsOfCooking      -0.246286
CookingSkills       -0.144641
MonthlyIncome       -0.116995
dtype: float64

In [24]:
df.loc[:, ["Engagement", "Functionality", "Aesthetics", "Information"]].mean(axis=1)

0     5.000000
1     5.000000
2     4.633333
3     4.412500
4     3.641667
5     4.691667
6     4.616667
7     4.416667
8     4.616667
9     4.662500
10    4.916667
11    3.662500
12    4.237500
13    4.950000
14    3.279167
15    4.887500
16    3.895833
17    3.979167
18    4.566667
19    3.887500
20    5.000000
21    3.583333
22    4.712500
23    4.054167
24    4.145833
25    5.000000
26    5.000000
27    4.500000
28    4.000000
29    4.304167
30    4.825000
31    3.654167
32    3.683333
33    3.779167
34    4.487500
35    4.004167
36    4.420833
37    5.000000
38    3.841667
39    3.983333
40    5.000000
41    4.400000
42    4.029167
43    5.000000
44    4.737500
45    4.020833
46    4.529167
47    4.562500
48    4.712500
49    3.700000
dtype: float64

In [21]:
overall_quality = df.iloc[:, :5].mean(axis=1)
df.iloc[:, 5:].corrwith(overall_quality)

Sex                 -0.180796
Age                 -0.289830
CivilStatus         -0.284212
BoolDiet             0.259350
BoolFoodAllergens    0.114465
YearsOfCooking      -0.246286
CookingSkills       -0.144641
MonthlyIncome       -0.116995
dtype: float64

In [22]:
df.iloc[:, 5:]

,Sex,Age,CivilStatus,BoolDiet,BoolFoodAllergens,YearsOfCooking,CookingSkills,MonthlyIncome
0,0,21,0,0,0,2,3,1
1,0,21,0,1,0,3,3,1
2,1,22,0,0,0,1,1,1
3,1,21,0,0,0,2,3,1
4,1,23,0,0,0,3,4,2
5,0,21,0,0,1,2,3,1
6,0,21,0,0,0,4,3,1
7,0,22,0,0,1,2,4,1
8,0,19,0,0,1,1,2,1
9,1,21,0,1,0,1,1,1
10,1,24,1,1,1,2,3,1
11,0,54,1,0,0,4,4,2
12,0,21,0,0,0,2,3,1
13,0,21,0,0,0,1,4,2
14,1,21,0,0,0,4,2,1
15,0,20,0,1,0,3,3,1
16,1,21,0,0,0,3,4,1
17,0,23,0,0,0,2,3,1
18,0,21,0,0,1,2,2,1
19,0,18,0,0,0,1,3,1
20,1,19,0,0,1,3,4,1
21,1,32,1,0,0,4,3,2
22,0,21,0,0,0,2,4,1
23,0,20,0,0,0,3,4,1
24,1,21,0,0,0,3,4,1
25,1,22,0,1,0,2,5,2
26,0,21,0,0,0,2,3,1
27,1,21,0,1,1,4,4,1
28,0,21,0,0,0,3,4,1
29,0,22,0,0,0,2,3,1
30,1,28,0,0,1,2,1,3
31,1,27,0,0,0,3,3,1
32,0,49,1,0,0,4,5,2
33,1,21,0,0,1,1,4,1
34,1,21,0,0,0,3,4,1
35,0,61,1,0,1,4,3,3
36,1,22,0,0,0,2,4,1
37,0,21,0,0,1,2,1,1
38,1,21,0,0,1,3,4,1
39,1,22,0,0,1,2,1,1
40,0,21,0,0,0,3,3,1
41,0,20,0,0,0,2,4,1
42,0,23,0,1,0,3,3,2
43,0,21,0,0,0,1,1,1
44,0,32,0,0,0,4,4,1
45,0,21,0,1,1,1,3,1
46,1,21,0,0,0,2,4,2
47,0,50,0,0,0,4,3,3
48,0,20,0,0,1,2,3,1
49,0,20,0,0,0,1,3,1